@charset "UTF-8";

@font-face {
  font-family: 'phs';
  src: url('font/phs.eot?50506413');
  src: url('font/phs.eot?50506413#iefix') format('embedded-opentype'),
       url('font/phs.woff?50506413') format('woff'),
       url('font/phs.ttf?50506413') format('truetype'),
       url('font/phs.svg?50506413#phs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'phs';
    src: url('../font/phs.svg?50506413#phs') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "phs";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-link-ext:before { content: '\e802'; } /* '' */
.icon-comment-empty:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-angle-double-down:before { content: '\e801'; } /* '' */


i {
	font-size: 1.6rem;
	opacity: 1;
	color: inherit;
}

.fffix i {
	color: white;
}

.fffix .scroll i,
.scroll i {
	font-size: 2.2rem;
	color: inherit;
}

* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.preload * {
	-webkit-transition:none!important;
	-moz-transition:none!important;
	-ms-transition:none!important;
	-o-transition:none!important;
}

.loading {
	background: url(../imgs/ajax-loader.gif) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -10;
}


html {	font-size: 62.5%; width: 100%;
    height: 100%; }

/* #12231c */
/* #00c165 */


body {
	font-family:'Vollkorn',Georgia, serif;
	font-weight: 400;
	font-size:18px;
	font-size:1.8rem;
	line-height:1.5;
	letter-spacing: 0.5px;
	bottom: 0;
    height: auto;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    transform: none;
    width: auto;
    
}

body.dark {
	color:white;
	background: rgb(12,12,12);
}

body.white {
	color:#111;
	background: white;
}


a:link,
a:visited {
	color:#00c165;
	text-decoration:none;
	border-bottom:1px solid #00c165;
	-o-transition:color .3s ease-out, background 0.1s ease-in;
	-ms-transition:color .3s ease-out, background 0.1s ease-in;
	-moz-transition:color .3s ease-out, background 0.1s ease-in;
	-webkit-transition:color .3s ease-out, background 0.1s ease-in;
	transition:color .3s ease-out, background 0.1s ease-in;
}

a:hover {
	color: white;
	text-decoration:none;
	border-bottom:none;
	background-color:#00c165;
	}

::selection {
	background-color:rgba(0,204,102,0.99);
	color: white;
}

::-moz-selection {
	background-color: rgba(0,204,102,0.99);
	color: white;
}

ul.contact li {display:inline-block;}

ul.contact li:after {
	/* content: ' / '; */
	border-bottom: none !important;
}

ul.contact li:last-child:after {
	content: '';
}



h1,
h2,
.intro {
	font-size: 6.2rem;
	line-height: 1.3em;
	color: inherit;
}

.fffix h1,
.fffix h2 {
	color: white;
}


.intro {
	color: inherit;
}
	
p.contact {
	font-size: 1.8rem;
}

h1 {	
    font-weight: inherit;
    letter-spacing: 0.5px;
    margin-bottom: 5px;

}

h2 {
    
    font-family: 'Raleway','Futura','Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 15px; 
}
/* 	url("../bg/w/01.jpg") no-repeat fixed center center / cover  transparent */
.dark.img01 .img {background: url(../bg/b/01.jpg) no-repeat fixed center center / cover transparent;}
.dark.img03 .img {background: url(../bg/b/03.jpg) no-repeat fixed center center / cover transparent;}
.dark.img04 .img {background: url(../bg/b/04.jpg) no-repeat fixed center center / cover transparent;}
.dark.img05 .img {background: url(../bg/b/05.jpg) no-repeat fixed center center / cover transparent;}
.dark.img06 .img {background: url(../bg/b/06.jpg) no-repeat fixed center center / cover transparent;}
.dark.img07 .img {background: url(../bg/b/04.jpg) no-repeat fixed 54% 26%;background-size: 66% auto !important;}
.white.img01 .img {background: url(../bg/w/01.jpg) no-repeat center center fixed;background-size: cover;}
.white.img02 .img {background: url(../bg/w/02.jpg) no-repeat center center fixed;background-size: cover;}
.white.img03 .img {background: url(../bg/w/03.jpg) no-repeat center center fixed;background-size: cover;}
.white.img04 .img {background: none;}
.white.img05 .img {background: url(../bg/w/05.jpg) no-repeat center center fixed;background-size: cover;}
.white.img06 .img {background: url(../bg/w/06.jpg) no-repeat center center fixed;background-size: cover;}
.white.img07 .img {background: url(../bg/w/07.jpg) no-repeat center center fixed;background-size: cover;}
.white.img08 .img {background: url(../bg/w/08.jpg) no-repeat center center fixed;background-size: cover;}

.white.fffix .img {
	background-color: rgb(12,12,12) !important;
}

	
.masthead,
.content {
	position: relative;
	width: 100%;
	height: 100%; 
/* 	background-color: #0C0C0C; */
	background-color: inherit;
	margin: 0;
	padding: 0;
	z-index: 2;
}

.white.fffix .masthead {
	background-color: #EDEDED;
}

.img {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	opacity: 0;
	-webkit-animation:fadeIn .8s 2s 1 forwards ease-in-out;
	-moz-animation:fadeIn .8s 2s 1 forwards ease-in-out;
	animation:fadeIn .8s 2s 1 forwards ease-in-out;
	}


.content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}



.dark .overlay {
z-index: 1;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOSUiIHN0b3AtY29sb3I9IiMwYzBjMGMiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NyUiIHN0b3AtY29sb3I9IiMwYzBjMGMiIHN0b3Atb3BhY2l0eT0iMC40NiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGMwYzBjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(12,12,12,0) 39%, rgba(12,12,12,0.46) 67%, rgba(12,12,12,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,rgba(12,12,12,0)), color-stop(67%,rgba(12,12,12,0.46)), color-stop(100%,rgba(12,12,12,1)));
background: -webkit-linear-gradient(top, rgba(12,12,12,0) 39%,rgba(12,12,12,0.46) 67%,rgba(12,12,12,1) 100%);
background: -o-linear-gradient(top, rgba(12,12,12,0) 39%,rgba(12,12,12,0.46) 67%,rgba(12,12,12,1) 100%);
background: -ms-linear-gradient(top, rgba(12,12,12,0) 39%,rgba(12,12,12,0.46) 67%,rgba(12,12,12,1) 100%);
background: linear-gradient(to bottom, rgba(12,12,12,0) 39%,rgba(12,12,12,0.46) 67%,rgba(12,12,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c0c0c', endColorstr='#0c0c0c',GradientType=0 );
}


.white .overlay {
z-index: 1;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC40NiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 39%, rgba(255,255,255,0.46) 67%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,rgba(255,255,255,0)), color-stop(67%,rgba(255,255,255,0.46)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 39%,rgba(255,255,255,0.46) 67%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 39%,rgba(255,255,255,0.46) 67%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 39%,rgba(255,255,255,0.46) 67%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 39%,rgba(255,255,255,0.46) 67%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}



.header,
.intro {
	top: 10%;
    left: 10%;
    position: absolute;
    width: 80%;
    max-width: 70em;
    z-index: 5;
}

.intro {
	padding-bottom: 5%;
}


.scroll {
	position: absolute;
	bottom: 5%;
	left: 10%;
	z-index: 2;
}

.bouncein,
.bouncein2 {
	opacity: 0;
	-webkit-transform:translateZ(0);
		-moz-transform:translateZ(0);
			transform:translateZ(0);
	-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
			transform-style:preserve-3d;
	-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
			-ms-backface-visibility:hidden;
				backface-visibility:hidden;
}

.bouncein {
	-webkit-animation:bounceInDown .8s .5s 1 forwards ease-in-out;
		-moz-animation:bounceInDown .8s .5s 1 forwards ease-in-out;
			animation:bounceInDown .8s .5s 1 forwards ease-in-out;
}

.bouncein2 {
	-webkit-animation:bounceInDown .85s .5s 1 forwards ease-in-out;
		-moz-animation:bounceInDown .85s .5s 1 forwards ease-in-out;
			animation:bounceInDown .85s .5s 1 forwards ease-in-out;
}

.fadein {
	opacity: 0;
	-webkit-animation:fadeIn 1s 1.5s 1 forwards ease-in-out;
	-moz-animation:fadeIn 1s 1.5s 1 forwards ease-in-out;
	animation:fadeIn 1s 1.5s 1 forwards ease-in-out;
}

.fadein-1 {
	opacity: 0;
	-webkit-animation:fadeIn 0.5s forwards ease-in-out;
	-moz-animation:fadeIn 0.5s forwards ease-in-out;
	animation:fadeIn 0.5s forwards ease-in-out;
}
.fadeout-1 {
	opacity: 1;
	-webkit-animation:fadeOut 0.5s forwards ease-in-out;
	-moz-animation:fadeOut 0.5s forwards ease-in-out;
	animation:fadeOut 0.5s forwards ease-in-out;
}


.fadeout {
	opacity: 1;
	-webkit-animation:fadeOut .5s 4s 1 forwards ease-in-out;
	-moz-animation:fadeOut .5s 4s 1 forwards ease-in-out;
	animation:fadeOut .5s 4s 1 forwards ease-in-out;
}

.fadeouthalf {
	opacity: 1;
	-webkit-animation:fadeOut .5s 2s 1 forwards ease-in-out;
	-moz-animation:fadeOut .5s 2s 1 forwards ease-in-out;
	animation:fadeOut .5s 2s 1 forwards ease-in-out;
}

.cursorwait {
	cursor:wait;
}


@media ( max-width : 1440px ) {
	h1,
	h2,
	.intro {
		font-size: 4.2rem;
		line-height: 1.3em;
	}
}
 

@media only screen and (min-width: 768px) and (max-width: 959px) {
	h1,
	h2,
	.intro {
		font-size: 3.2rem;
		line-height: 1.3em;
	}
	
}

@media only screen and (max-width: 767px) {      
	.hideifsinglecolumn {
		display: none;
	}
	
	h1,
	h2,
	.intro {
		font-size: 1.8rem;
		line-height: 1.5em;
	}
	
	h2 {
		margin-bottom: 10px;
		letter-spacing: 4px;
	}
	
	ul.contact li {display:block; line-height: inherit;}
	ul.contact li:after {display:none;}
	
	
	h1,
	h2,
	.contact
	{text-shadow: 0px 1px 10px rgba(119, 119, 119, 0.8);}
	
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	h1,
	h2,
	.intro {
		font-size: 2.2rem;
		line-height: 1.5em;
	}
        
}
    





@-webkit-keyframes bounceInDown {
	0% {
		opacity:0;
		-webkit-transform:translateY(-2000px);
	}
	
	60% {
		opacity:1;
		-webkit-transform:translateY(30px);
	}
	
	80% {
		opacity:1;
		-webkit-transform:translateY(-10px);
	}
	
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity:0;
		-moz-transform:translateY(-2000px);
	}
	
	60% {
		opacity:1;
		-moz-transform:translateY(30px);
	}
	
	80% {
		opacity:1;
		-moz-transform:translateY(-10px);
	}
	
	100% {
		opacity:1;
		-moz-transform:translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity:0;
		-o-transform:translateY(-2000px);
	}
	
	60% {
		opacity:1;
		-o-transform:translateY(30px);
	}
	
	80% {
		opacity:1;
		-o-transform:translateY(-10px);
	}
	
	100% {
		opacity:1;
		-o-transform:translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity:0;
		transform:translateY(-2000px);
	}
	
	60% {
		opacity:1;
		transform:translateY(30px);
	}
	
	80% {
		opacity:1;
		transform:translateY(-10px);
	}
	
	100% {
		opacity:1;
		transform:translateY(0);
	}
}

.bounceInDown {
	-webkit-animation:bounceInDown .8s .5s 1 both ease-in-out;
	-moz-animation:bounceInDown .8s .5s 1 both ease-in-out;
	animation:bounceInDown .8s .5s 1 both ease-in-out;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}


@-webkit-keyframes fadeOut {
	0% {
		opacity:1;
	}
	
	100% {
		opacity:0;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity:1;
	}
	
	100% {
		opacity:0;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity:1;
	}
	
	100% {
		opacity:0;
	}
}

@keyframes fadeOut {
	0% {
		opacity:1;
	}
	
	100% {
		opacity:0;
	}
}


@-webkit-keyframes fadeOutHalf {
	0% { opacity:1; }
	100% { opacity:0.3;	}
}

@-moz-keyframes fadeOutHalf {
	0% { opacity:1; }
	100% { opacity:0.3;	}
}

@-o-keyframes fadeOutHalf {
	0% { opacity:1; }
	100% { opacity:0.3;	}
}

@keyframes fadeOutHalf {
	0% { opacity:1; }
	100% { opacity:0.3;	}
}


/*
background: #0c0c0c;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjMGMwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjIzMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #0c0c0c 0%, #12231c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c0c0c), color-stop(100%,#12231c));
background: -webkit-linear-gradient(top, #0c0c0c 0%,#12231c 100%);
background: -o-linear-gradient(top, #0c0c0c 0%,#12231c 100%);
background: -ms-linear-gradient(top, #0c0c0c 0%,#12231c 100%);
background: linear-gradient(to bottom, #0c0c0c 0%,#12231c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#12231c',GradientType=0 );
*/


